### Java / Maven
/target/
*.class
*.jar
*.war

# Maven wrapper
/.mvn/

### IDEs
.idea/
*.iml
.project
.classpath

### OS
.DS_Store
Thumbs.db

### Logs
*.log
app.log
app.pid

### Postman / temporary artifacts created during testing
PostmanCollection/
/tmp/

### Others
node_modules/
.vscode/
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
